{% extends 'onboarding_base.html' %}

{% block content %}
<div class="jumbotron">
    <p>Enviamos um e-mail para o endereço informado com instruções para que você possa resetar sua senha.</p>
    <p>Você deve receber a mensagem em breve.</p>
    <p>
        Caso você não tenha recebido a mensagem. Certifique-se de que o e-mail informado é válido e seja o que você usou para
        criar sua conta, ou olhe sua lixeira ou caixa de spam para tentar achar o e-mail.
    </p>
    <a href="{% url 'home' %}">Retornar para a página inicial</a>
</div>
{% endblock %}