{% extends 'base.html' %}

{% block header %}
<h3 class="float-left">Editar território</h3>
{% endblock header %}

{% block content %}
<form id="form-edit-territory" class="p-3">
    {% csrf_token %}

    <input type="hidden" name="congregation" value="{{ request.user.congregation.id }}">

    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="date">Número:</label>
                <input name="number" class="form-control" placeholder="Digite o número do território" type="number"
                    min="0" id="territory-number" required="true" value="{{ territory.number }}">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="date">Referência:</label>
                <input name="name" class="form-control" placeholder="Dê um ponto de referência" type="text"
                    id="territory-name" required="true" value="{{ territory.name }}">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="date">URL do mapa:</label>
                <input name="map_url" class="form-control" placeholder="Digite a URL do mapa" type="text" id="territory-map-url"
                    required="true" value="{{ territory.map_url }}">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="notes">Observações:</label>
                <textarea class="form-control" name="notes" id="territory-notes"
                    placeholder="Ex.: Não bater em..."></textarea>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Salvar</button>
</form>

<script>
    $(function () {
        $("#territory-notes").val("{{ territory.notes }}");

        $("#form-edit-territory").submit((evt) => {
            evt.preventDefault();
            evt.stopPropagation();

            const formData = new FormData(evt.target);

            const data = {
                number: formData.get('number'),
                name: formData.get('name'),
                notes: formData.get('notes'),
                map_url: formData.get('map_url'),
                congregation: formData.get('congregation'),
            }

            $.ajax({
                type: "PUT",
                data: JSON.stringify(data),
                url: "{{ HTTP_HOST }}/api/territory/{{ territory.id }}/",
                headers: {
                    'Content-Type': 'application/json'
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", formData.get('csrfmiddlewaretoken'));
                },
                success: function (data, textStatus) {
                    alert("Território editado com sucesso!");
                    location.replace("{{ HTTP_HOST }}/territory/list");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
        });
    });
</script>
{% endblock %}