{% extends 'base.html' %}

{% block header %}
<h3 class="float-left">Saídas de campo</h3>
{% if request.user.is_staff %}
<a href="{% url 'new_service_occurrence' %}" class="btn btn-success float-right">Criar nova</a>
{% endif %}
{% endblock header %}

{% block content %}
<table class="table table-striped table-bordered" id="service-occurrences-list">
    <thead>
        <tr>
            <th scope="col" colspan="7">
                <form class="form-inline" id="filter-service-occurrences">
                    <div class="form-group mr-2">
                        <label for="filter-from" class="mr-2">De:</label>
                        <input type="text" class="form-control" id="filter-from" autocomplete="off">
                    </div>
                    <div class="form-group mr-2">
                        <label for="filter-until" class="mr-2">Até:</label>
                        <input type="text" class="form-control" id="filter-until" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </form>
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Período</th>
            <th scope="col">Território</th>
            <th scope="col">Dirigente</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% if territories|length > 0 %}
        {% for service_occurrence in service_occurrences %}
        <tr>
            <td>{{ service_occurrence.id }}</td>
            <td>{{ service_occurrence.date | date:"d/m/y" }}</td>
            <td>
                {% if service_occurrence.period == "M" %}Manhã
                {% elif service_occurrence.period == "A" %}Tarde
                {% else %}-{% endif %}
            </td>
            <td>{{ service_occurrence.territory.name }}</td>
            <td>{{ service_occurrence.leader.first_name }} {{ service_occurrence.leader.last_name }}</td>
            <td>
                {% if service_occurrence.status == "F" %}<span class="text-success">Finalizado</span>{% endif %}
                {% if service_occurrence.status == "N" %}<span class="text-secondary">Não iniciado</span>{% endif %}
                {% if service_occurrence.status == "C" %}<span class="text-secondary">Continuado</span></span>{% endif %}
                {% if service_occurrence.status == "I" %}<span class="text-secondary">Iniciado</span>{% endif %}
            </td>
            <td>
                <div class="btn-group float-right" role="group" aria-label="actions">
                    <a href="{% url 'show_service_occurrence' id=service_occurrence.id %}" class="btn btn-sm btn-dark">Ver</a>
                    <a href="{% url 'edit_service_occurrence' id=service_occurrence.id %}" class="btn btn-sm btn-dark">Editar</a>
                    <a href="#" class="btn btn-sm btn-danger" onClick="delete_service_occurrence({{ service_occurrence.id }})">Excluir</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="7">Nenhuma saída de campo adicionada.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<script>
    $(function() {
        const searchParams = new URLSearchParams(window.location.search);
        const dateFormat = "dd/mm/yy";

        debugger;

        const $from = $("#filter-from");
        const $until = $("#filter-until");

        $from.datepicker({ dateFormat: 'dd/mm/yy' })
        .on("change", function() {
            $until.datepicker("option", "minDate", getDate(this));
        });

        $until.datepicker({ dateFormat: 'dd/mm/yy' }).on("change", function() {
            $from.datepicker("option", "maxDate", getDate(this));
        });

        if (searchParams.get("from")) {
            const fromDate = searchParams.get("from").split("-").reverse().join("/");
            $from.datepicker('setDate', fromDate);
        }

        if (searchParams.get("until")) {
            const untilDate = searchParams.get("until").split("-").reverse().join("/");
            $until.datepicker('setDate', untilDate);
        }

        function getDate(element) {
            let date;

            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch(error) {
                date = null;
            }

            return date;
        }

        $("#filter-service-occurrences").submit((evt) => {
            evt.preventDefault();
            evt.stopPropagation();

            const from = $from.datepicker("option", "dateFormat", "yy-mm-dd").val();
            const until = $until.datepicker("option", "dateFormat", "yy-mm-dd").val();

            if ('URLSearchParams' in window) {
                searchParams.set('from', from);
                searchParams.set('until', until);
                window.location.search = searchParams.toString();
            }
        });
    });
</script>
{% endblock content %}