{% extends 'base.html' %}

{% block header %}
<h3 class="float-left">Criar nova saída de campo</h3>
{% endblock header %}

{% block content %}
<form id="form-new-service-occurrence" class="p-3">
    {% csrf_token %}

    <input type="hidden" name="congregation" value="{{ request.user.congregation.id }}">

    <div class="form-row">
        <div class="col-md">
            <div class="form-group">
                <label for="date">Data:</label>
                <input name="date" class="form-control" placeholder="Selecione uma data" type="text" id="date-selection"
                    required="true" autocomplete="off">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="territory-selection">Território:</label>
                <select name="territory" class="form-control" id="territory-selection">
                    <option value="" disabled selected>Selecione um território</option>
                    {% for territory in territories %}
                    <option value="{{ territory.id }}" {% if service_occurrence.territory_id == territory.id %}selected{% endif %}>
                        {{ territory.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="leader-selection">Dirigente:</label>
                <select name="leader" class="form-control" id="leader-selection">
                    <option value="" disabled selected>Selecione um dirigente</option>
                    {% for leader in leaders %}
                    <option value="{{ leader.id }}" {% if service_occurrence.leader_id == leader.id %}selected{% endif %}>
                        {{ leader.first_name }} {{ leader.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="status-selection">Status:</label>
                <select name="status" class="form-control" id="status-selection">
                    <option value="" disabled selected>Selecione um status</option>
                    <option value="N">Não iniciado</option>
                    <option value="F">Finalizado</option>
                    <option value="I">Iniciado</option>
                    <option value="C">Continuado</option>
                </select>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="status-selection">Periodo:</label>
                <select name="period" class="form-control" id="status-selection">
                    <option value="" disabled selected>Selecione um período</option>
                    <option value="M">Manhã</option>
                    <option value="A">Tarde</option>
                </select>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Salvar</button>
</form>

<script>
    $(function() {
        $("#date-selection").datepicker({ dateFormat: 'dd/mm/yy' });

        $("#form-new-service-occurrence").submit((evt) => {
            evt.preventDefault();
            evt.stopPropagation();

            const formData = new FormData(evt.target);
            const date = $("#date-selection").datepicker("option", "dateFormat", "yy-mm-dd").val();

            const data = {
                date: date,
                leader: formData.get('leader'),
                territory: formData.get('territory'),
                status: formData.get('status'),
                period: formData.get('period'),
                congregation: formData.get('congregation')
            }

            $.ajax({
                type: "POST",
                data: JSON.stringify(data),
                url: "{{ HTTP_HOST }}/api/service_ocurrence/new/",
                headers: {
                    'Content-Type': 'application/json'
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", formData.get('csrfmiddlewaretoken'));
                },
                success: function (data, textStatus) {
                    alert("Saída de campo cadastrada com sucesso!");
                    location.replace("{{ HTTP_HOST }}/service_occurrence/list");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
        });
    });
</script>
{% endblock %}
