html, body {
    overflow: hidden;
}

.errorlist {
    margin-bottom: 0;
}

.container-wrapper {
    background: hsl(217, 39%, 47%);
    height: calc(100% - 56px);
}

.header-holder {
    height: 80px;
}

.header-holder h3 {
    line-height: 80px;
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
}

.header-holder .btn {
    margin: 21px 0;
}

.content-holder {
    height: calc(100% - 80px);
}

.content-holder > div {
    width: 100%;
    overflow: auto;
    height: calc(100%);
}
